@charset "UTF-8";
html {
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    width: 900px;
    background-color: rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: justify;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}
article {
    padding: 10px;
}
h1 {
    text-align: center;
    color: rgb(222, 222, 222);
    font-size: 2em;
    }
p {
    color: rgb(222, 222, 222);
    text-align: justify;
}
div {
    padding: 10px;
    display: flex;
    justify-content: center;
}
img.au {
    width: 650px;
    margin: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}
u {color: #044999e7; text-decoration-style: double;}
span {color: #772403b9;}
span.a {color: #044999e7;}
span.v {color: rgb(7, 77, 7);}
span.cv {color: rgb(150, 16, 16);}
span.r {color: blueviolet;}
span.c {color: rgb(177, 177, 177);}
